In [2]:
import pandas as pd
import numpy as np

In [3]:
columns = ['Friday, March 22', 'Sunday, March 24','Tuesday, April 9','Wednesday, April 10th','Thursday, April 11', 'Friday, April 12']
schedule = pd.DataFrame(columns=columns, index=['Site 1','Site 2'])
schedule.loc['Site 1'] = pd.Series({'Friday, March 22': 'Site H3, Time: 12:50'
, 'Sunday, March 24': 'Site H1, Time: 12:50','Tuesday, April 9': 'Site H3, Time 12:50','Wednesday, April 10th':'Site H1, Time 12:50','Thursday, April 11': 'Site H3, Time: 12:50', 'Friday, April 12':'Site H3, Time: 12:50'})
schedule.loc['Site 2'] = pd.Series({'Friday, March 22': 'Site H4, Time: After Site 1'
, 'Sunday, March 24': 'Site H2, Time: After Site 1','Tuesday, April 9':'Site H4, Time: After Site 1','Wednesday, April 10th':'Site H3, Time: After Site 1'})
pd.set_option('display.max_colwidth', None)
schedule.transpose()

                                     Site 1                       Site 2
Friday, March 22       Site H3, Time: 12:50  Site H4, Time: After Site 1
Sunday, March 24       Site H1, Time: 12:50  Site H2, Time: After Site 1
Tuesday, April 9        Site H3, Time 12:50  Site H4, Time: After Site 1
Wednesday, April 10th   Site H1, Time 12:50  Site H3, Time: After Site 1
Thursday, April 11     Site H3, Time: 12:50                          NaN
Friday, April 12       Site H3, Time: 12:50                          NaN

In [4]:
import dataframe_image as dfi
dfi.export(schedule.transpose() ,"SHHoughtonschedulefinal5.png")